{% extends 'base.html' %}

{% block content %}

<br><br><br>

{% if request.user.is_authenticated %}

Hosgeldin {{ request.user.get_full_name }}
<h3>Cuzdanlariniz</h3><a href="{% url 'wallet:wallet_add' %}">Cuzdan Ekle</a><br><br>
{% for cuzdan in cuzdanlar %}
<b>{{ cuzdan.get_para_birimi_display }} : </b>{{ cuzdan.bakiye }}{{cuzdan.para_birimi}} <a href="{{ cuzdan.get_absolute_url }}">sil</a> <br>
{% empty %}
Hicbir cuzdan bulunamadi, lutfen cuzdan ekleyin.
{% endfor %}

{% else %}

Bakiyeyi gormek icin giris yapmalisin.

{% endif %}


<br><br><br><br><br><br>
<h1>Home</h1>
<h2>Simdiki zaman</h2>
{% now "H:i" %}
{% lorem %}

{% endblock %}