{% load static %}
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
<ul>
    <li><img src="{% static 'logo.png' %}" width="50" height="50" alt="My image"></li>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'blog_list' %}">Blog</a></li>
    {% if request.user.is_authenticated %}

    <li style="color:white>{{request.usr.get_full_name}}</li>
    <li style="float=right">{{request.usr.get_full_name}}</li>

    
    <li style="float:right"><a href="{% url 'logout' %}">Cikis Yap</a></li>
    {% else %}
    <li style="float:right"><a href="{% url 'login' %}">Giris Yap</a></li>
    {% endif %}
    
</ul>